@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h4>Оргкомитет олимпиад по программированию ИКИТ СФУ</h4>

<p>По всем вопросам обрщайтесь на <a href="mailto:acm@sfu-kras.ru">acm@sfu-kras.ru</a></p>