@model ContestantRegister.ViewModels.IndividualContestRegistrationViewModel

@{
    ViewData["Title"] = "Изменить регистрационные данные";
}

<h2>@ViewData["Title"]</h2>


<h4>@Html.DisplayFor(model => model.ContestName)</h4>

<p>
    <a asp-action="SuggestSchool">Создать новую школу</a>
    <a asp-action="SuggestInstitution">Создать новый вуз/ссуз</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4></h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            @await Html.PartialAsync("_RegistrationPartial")

            <input type="hidden" asp-for="Id" />

            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

