@model ContestantRegister.ViewModels.IndividualContestRegistrationViewModel

@{
    ViewData["Title"] = "Регистрация на контест";
}

<h2>Регистрация на контест</h2>

<h4>@Html.DisplayFor(model => model.ContestName)</h4>

<p>
    <a asp-action="SuggestSchool">Создать новую школу</a>
    <a asp-action="SuggestInstitution" >Создать новый вуз/ссуз</a>
    <a asp-route-id="@Model.ContestId" asp-action="RegisterPupil">Зарегистрировать школьника</a>
    <a asp-route-id="@Model.ContestId" asp-action="RegisterStudent" >Зарегистрировать студента</a>
    <a asp-route-id="@Model.ContestId" asp-action="RegisterTrainer">Зарегистрировать тренера</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Регистрация нового участника</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            @await Html.PartialAsync("_RegistrationPartial")

            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

