@{
    ViewData["Title"] = "Учебное заведение предложено";
}

<h2>Учебное заведение предложено</h2>

<div>
    <p>
        Спасибо за предложение нового учебного заведения. Когда оно будет утверждено администратором сайта, вы получите уведомление на указанный email.
        По всем вопросам обращайтесь <a href="mailto:acm@sfu-kras.ru">acm@sfu-kras.ru</a>
    </p>
</div>
