@model ContestantRegister.ViewModels.SuggectInstitutionViewModel

@{
    ViewData["Title"] = "Новый вуз/ссуз";
}

<h2>Новый вуз/ссуз</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Регистрация нового вуза/ссуза</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortNameEn" class="control-label"></label>
                <input asp-for="ShortNameEn" class="form-control" />
                <span asp-validation-for="ShortNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullNameEn" class="control-label"></label>
                <input asp-for="FullNameEn" class="form-control" />
                <span asp-validation-for="FullNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <input asp-for="Site" class="form-control" />
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-default">Создать</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}