@{
    ViewData["Title"] = "Доступ запрещен";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">У вас недостаточно прав для просмотра этой страницы</p>
</header>
