@{
    ViewData["Title"] = "Подтвердите email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        На ваш email отправлена ссылка для подтверждения. Перейдите по ней, чтобы подтвердить свой email.
    </p>
</div>
