@model ContestantRegister.Cqrs.Features.Admin.Contests.ViewModels.ContestDetailsViewModel

@{
    ViewData["Title"] = "Редактировать контест";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать</h2>

<h4>Контест</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("_ContestPartial")

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
