@{
    ViewData["Title"] = "Админка";
}

<h2>Админка</h2>

<ul class="list-group">
    <li class="list-group-item"><a asp-controller="Cities" asp-action="Index">Города</a></li>
    <li class="list-group-item"><a asp-controller="Schools" asp-action="Index">Школы</a></li>
    <li class="list-group-item"><a asp-controller="Institutions" asp-action="Index">Вузы</a></li>
    <li class="list-group-item"><a asp-controller="Contests" asp-action="Index">Контесты</a></li>
    <li class="list-group-item"><a asp-controller="Users" asp-action="Index">Пользователи</a></li>
    <li class="list-group-item"><a asp-controller="Users" asp-action="Admins">Админы</a></li>
</ul>