@using ContestantRegister.Utils
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ИКИТ СФУ</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/select2/select2.css" />
        <link rel="stylesheet" href="~/lib/select2/themes/select2-bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css"
              asp-fallback-href="~/lib/select2/select2.min.css"
              asp-fallback-test-class="select2-container" asp-fallback-test-property="position" asp-fallback-test-value="relative" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
              asp-fallback-href="~/lib/select2/themes/select2-bootstrap.min.css"
              asp-fallback-test-class="select2-container--bootstrap" asp-fallback-test-property="display" asp-fallback-test-value="block" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
              asp-fallback-href="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css"
              asp-fallback-test-class="bootstrap-datetimepicker-widget" asp-fallback-test-property="list-style" asp-fallback-test-value="none" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Соревнования</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Archive">Архив</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Index" data-toggle="dropdown" class="dropdown-toggle">
                                Админка <span class="caret">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Cities" asp-action="Index">Города</a></li>
                                <li><a asp-controller="Schools" asp-action="Index">Школы</a></li>
                                <li><a asp-controller="Institutions" asp-action="Index">Вузы</a></li>
                                <li><a asp-controller="Contests" asp-action="Index">Контесты</a></li>
                                <li><a asp-controller="Users" asp-action="Index">Пользователи</a></li>
                                <li><a asp-controller="Users" asp-action="Admins">Админы</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ИКИТ СФУ</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/moment/i18n/ru.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/select2/select2.js"></script>
        <script src="~/lib/select2/i18n/ru.js"></script>
        <script src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"
                asp-fallback-src="~/lib/moment/moment.min.js"
                asp-fallback-test="window.moment && window.moment.fn"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/locale/ru.js"
                asp-fallback-src="~/lib/moment/i18n/ru.js"
                asp-fallback-test="window.moment && window.moment.locales && window.moment.locales().includes('ru')"
                crossorigin="anonymous">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"
                asp-fallback-src="~/lib/select2/select2.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.select2"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/ru.js"
                asp-fallback-src="~/lib/select2/i18n/ru.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.select2"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"
                asp-fallback-src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.datetimepicker"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/select2.init.js" asp-append-version="true"></script>
    <script src="~/js/datetimepicker.init.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
    <partial-script mode="Render" />
    <environment include="production">
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter48103901 = new Ya.Metrika({
                            id: 48103901,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true
                        });
                    } catch (e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/48103901" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </environment>
</body>
</html>
