@model ContestantRegister.ViewModels.HomeViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Пожалуйста, отправтье на <a href="mailto:acm@sfu-kras.ru">acm@sfu-kras.ru</a> описание ваших действий, которые привели к ошибке.
    И мы обязательно ее исправим!
</p>
