@model ContestantRegister.ViewModels.Contest.ImportParticipantsViewModel

@{
    ViewData["Title"] = "Импорт рабочих мест";
}

<h2>@ViewData["Title"]</h2>
<hr />

<h4>@Model.ContestName</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <input type="hidden" asp-for="ContestName" />
            
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TabDelimeter" /> @Html.DisplayNameFor(model => model.TabDelimeter)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Data" class="control-label" style="margin: 0"></label>
                <h5 class="control-sublabel" style="margin: 0">YaContestLogin - обязательная, опциональные: YaContestPassword, Status, Number, ComputerName, ProgrammingLanguage, Area</h5>
                <textarea asp-for="Data" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Импортировать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

