@model ContestantRegister.Cqrs.Features.Frontend.Contests.Individual.ViewModels.CreateIndividualContestRegistrationViewModel

@{
    ViewData["Title"] = "Регистрация на соревнование";
}

<h2>Регистрация на соревнование</h2>

<h4>@Html.DisplayFor(model => model.ContestName)</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Регистрация нового участника</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label">Участник</label>
                <select asp-for="Participant1Id" class="form-control apply-select2" asp-items="ViewBag.Participant1Id"><option></option></select>
                <span asp-validation-for="Participant1Id" class="text-danger"></span>
                @if (Model.ParticipantType == ParticipantType.Pupil)
                {
                    <p>Если участника нет в списке, вы можете <a asp-route-id="@Model.ContestId" asp-controller="Home" asp-action="RegisterPupil">зарегистрировать его</a></p>
                }
                else
                {
                    <p>Если участника нет в списке, вы можете <a asp-route-id="@Model.ContestId" asp-controller="Home" asp-action="RegisterPupil">зарегистрировать его</a></p>
                }
            </div>

            @await Html.PartialAsync("_IndividualRegistrationPartial")

            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

