@model ContestantRegister.ViewModels.ManageViewModels.IndexViewModel

@{
    ViewData["Title"] = "Профиль";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.EmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" readonly="readonly" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Подтвердить email</button>
                }

                <input type="hidden" asp-for="EmailConfirmed" />

                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @await Html.PartialAsync("_UserPartial")

            <button type="submit" class="btn btn-default">Сохранить</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
